.bigpostminiature-custom-border-box{
    transition: width 2s;
    position: relative;
    width: 720px;
    margin: 20px 20px;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 1108px) and (min-width: 781px){
    .bigpostminiature-custom-border-box{
    }
    .bigpostminiature-custom-title{
    }
}



.bigpostminiature-custom-photo{
    width: 100%;
}

.bigpostminiature-custom-title{
    text-align: left;
    margin-top: 20px;
}

.bigpostminiature-custom-text{
    margin: 20px auto;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.bigpostminiature-custom-publishdate{
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: small;
}

.bigpostminiature-custom-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--primary-color) !important;
    height: 30px;
    
    transition: 0.3s !important;
    --btn-color: var(--btn-bg) !important;
    --btn-border-color: var(--btn-bg) !important;
    background: 0 0 !important;
    transition: .3s !important;
    --btn-color: white !important;
    --btn-bg: var(--primary-color) !important;
    --btn-border: 1px solid var(--btn-bg) !important;
    --btn-padding: 0.75rem 1.25rem !important;
    --btn-radius: 4px !important;
    color: var(--btn-color,#000) !important;
    background: var(--btn-bg,#fff) !important;
    border: var(--btn-border) !important;
    border-radius: var(--btn-radius) !important;
}

.bigpostminiature-custom-button:hover{
    transition: 0.3s !important;
    --btn-color: var(--btn-bg) !important;
    --btn-border-color: var(--btn-bg) !important;
    --btn-bg: var(--secondary-color) !important;
    --btn-border: 1px solid var(--secondary-color) !important;
    background: 0 0 !important;
    transition: .3s !important;
}

@media screen and (max-width: 780px){
    .bigpostminiature-custom-border-box{
        position: relative;
        width: 340px;
        margin: 60px 20px;
        text-align: center;
        padding-bottom: 10px;
    }

    .bigpostminiature-custom-photo{
        height: 450px;
        max-width: 350px;
        margin: 20px auto;
    }
    
    .bigpostminiature-custom-title{
        text-align: center;
        width: 320px;
        margin: auto;
    }
    
    .bigpostminiature-custom-text{
        width: 280px;
        margin: 20px auto;
        text-align: justify;
        text-justify: inter-word;
    }
}