.maintags-custom-border-box{
    color: var(--fourth-color);
}

.maintags-custom-tagspackage{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.maintags-custom-tagpackage{
    margin: 0 10px;
    font-size: 20px;
}