.postingboard-custom-border-box{
    width: 70%;
}

.posts-chunk-10{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 992px){
    .postingboard-custom-border-box{
        width: 100%;
    }
}
