.postingboard-custom-border-box{
    border: black 2px solid;
    width: 70%;
}

.posts-chunk-10{ 
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 992px){
    .postingboard-custom-border-box{
        width: 100%;
    }
}

.postingboard-custom-mainpost-title{
    margin-left: 1vw;
}